body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Courier New";
  background-color: #282C34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link { 
  text-decoration: none; 
}

a:visited { 
  text-decoration: none; 
}

a:hover { 
  text-decoration: none; 
}

a:active { 
  text-decoration: none; 
}

td img{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.text {
  color: #ABB2BF;
}

.header {
  height: 7.5vh;
  font-size: 35px;
}

.summary {
  height: 50vh;
}

.timeline {
  height: 35vh;
}

.slice {
  height: 3vh;
}

.contact {
  height: 7.5vh;
  font-size: 20px;
}

.portrait {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.current {
  width: 300px;
}

.break {
  color: #E06C75;
}

.icon {
  height: 3vh;

}

.link {
  color: #ABB2BF;
  background-color: none;
}

.link:hover {
  color: #98C379;
}

#linkedin {
  border-radius: 15%;
}

.mobile-section {
  height: 100vh;
}

.mobile-summary {
  height: 95vh;
}

.footer {

  width: 100%;
  height: 5vh;
}

.tile {
  border: 1px solid #98C379;
  border-radius: 0.375rem;
}